<template>
    <div>
        <div class="cfp"  v-if="this.$store.state.admindata[0].status == 'lock'">
            <div class="ic">
                <div class="modal-header mb-3">
                    <h5><span class="fa fa-lock"></span> Administrator</h5>
                    <router-link to="/balot" exact class="btn btn-primary btn-sm"><span class="fa fa-remove"></span> Cancel</router-link>
                </div>
                <h6>Enter valid key to continue...</h6>
                <div class="btn-group col">
                    <input v-model="key" type="password" class="form-control">
                    <button @click="validate()" class="btn btn-success"> Validate</button>
                </div>
            </div>
        </div>
        <div class="modal-body display-form">
            <div class="sidebar">
                <router-link to="/candidates" exact><span class="fa fa-group"></span> Candidates</router-link>
                <router-link to="/addcandidate" exact><span class="fa fa-user"></span> Add Candidate</router-link>
                <router-link to="/electiondetails" exact><span class="fa fa-gears"></span> Voting Results</router-link>
                <a href="#" @click="lockadmin()"><span class="fa fa-lock"></span> Lock Admin</a>
            </div>
        </div>
        <div style="position: fixed; margin-left: 250px; width: 78%;">
            <div class="modal-body col-md-7">
                <div class="form-group">
                    <label><span class="fa fa-user"></span> Candidate Name</label>
                    <div class="row">
                        <div class="col-md-5">
                            <input v-model="input.lname" placeholder="Last Name" class="form-control" type="text">
                        </div>
                        <div class="col-md-5">
                            <input v-model="input.fname" placeholder="First Name" class="form-control" type="text">
                        </div>
                        <div class="col-md-2">
                            <input maxlength="1" v-model="input.mi" placeholder="MI" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label><span class="fa fa-flag"></span> Candidate for: </label>
                    <br>
                    <div class="btn-group col" style="padding: 0px; margin: 0px;">
                        <button class="fa fa-flag btn btn-dark" disabled></button>
                        <select v-model="input.position" id="" class="form-control">
                            <option selected value="President">President</option>
                            <option value="Vice-President">Vice-President</option>
                            <option value="Secretary">Secretary</option>
                            <option value="Treasurer">Treasurer</option>
                            <option value="Auditor">Auditor</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer col-md-7">
                <button @click="addCandidates()" class="btn btn-success btn-sm"><span class="fa fa-save"></span> Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return{
                input: {
                    lname: '',
                    fname: '',
                    mi: '',
                    position: ''
                },
                key: ''
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
        },
        computed: {
            ...mapState(['admindata']),
        },
        methods: {
            validate(){
                if(this.key == ""){
                    this.warningMessage("Please input a valid key");
                }else{
                    if(this.key == this.$store.state.admindata[0].adminkey){
                        this.$store.dispatch('unlockadmin');
                    }else{
                        this.key = "";
                        this.warningMessage("Key is invalid");
                    }
                } 
            },
            lockadmin() {
                this.$store.dispatch('lockadmin');
            },
            addCandidates(){
                if(this.input.fname == ""){
                    this.warningMessage("First name field can't be empty.");
                }
                if(this.input.lname == ""){
                    this.warningMessage("Last name field can't be empty.");
                }
                if(this.input.mi == ""){
                    this.warningMessage("Middle innitial field can't be empty.");
                }
                if(this.input.position == ""){
                    this.warningMessage("Position field can't be empty.");
                }
                this.successMessage("Candidate Registered Successfuly.");
                this.$store.dispatch('addCandidate', this.input);
                this.input.fname = "";
                this.input.lname = "";
                this.input.mi = "";
                this.input.position = "";
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    }
</script>