<template>
    <div>
        <div class="modal-header login-header sticky-top">
            <div>
                <h5>{{ this.$store.state.admindata[0].electionname }}</h5>
            </div>  
            <div>
                <div v-if="this.$store.state.admindata[0].status == 'lock'">
                    <router-link to="/" exact class="btn btn-primary"><span class="fa fa-lock"></span> Admin</router-link>
                    <router-link to="/balot" exact class="btn btn-success"><span class="fa fa-pencil-square"></span> Voter</router-link>
                </div>
                <div v-else>
                    <router-link to="/" exact class="btn btn-dark"><span class="fa fa-unlock"></span> Admin</router-link>
                    <router-link to="/balot" exact class="btn btn-success"><span class="fa fa-pencil-square"></span> Voter</router-link>
                </div>
            </div>
        </div>
        <div class="">
            <router-view></router-view>
        </div>
        <div class="modal-footer login-footer">
            <!--<h6><i>Voting System 2021</i></h6>-->
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return{
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
        },
        computed: {
            ...mapState(['admindata']),
        },
        methods: {
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    }
</script>