<template>
    <div>
        <div class="cfp" v-if="this.$store.state.admindata[0].status == 'lock'">
            <div class="ic">
                <div class="modal-header mb-3">
                    <h5><span class="fa fa-lock"></span> Administrator</h5>
                    <router-link to="/balot" exact class="btn btn-primary btn-sm"><span class="fa fa-remove"></span> Cancel</router-link>
                </div>
                <h6>Enter valid key to continue...</h6>
                <div class="btn-group col">
                    <input v-model="key" type="password" class="form-control">
                    <button @click="validate()" class="btn btn-success"> Validate</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editElectionTitle">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6><span class="fa fa-flag"></span> Election Title</h6>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="electiontitle" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-secondary btn-sm"><span class="fa fa-remove"></span> Cancel</button>
                        <button data-dismiss="modal" @click="saveTitle()" class="btn btn-success btn-sm"><span class="fa fa-save"></span> Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editAdminKey">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6><span class="fa fa-key"></span> Manage Admin Key</h6>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Current Key</label>
                            <input v-model="inputkey" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">New Key</label>
                            <input v-model="newkey" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Retype New Key</label>
                            <input v-model="confirmkey" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-secondary btn-sm"><span class="fa fa-remove"></span> Cancel</button>
                        <button data-dismiss="modal" @click="saveKey()" class="btn btn-success btn-sm"><span class="fa fa-save"></span> Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body display-form">
            <div class="sidebar">
                <router-link to="/candidates" exact><span class="fa fa-group"></span> Candidates</router-link>
                <router-link to="/addcandidate" exact><span class="fa fa-user"></span> Add Candidate</router-link>
                <router-link to="/electiondetails" exact><span class="fa fa-gears"></span> Voting Results</router-link>
                <a href="#" @click="lockadmin()"><span class="fa fa-lock"></span> Lock Admin</a>
            </div>
        </div>
        <div style="position: fixed; margin-left: 250px; width: 83%; height: 490px; overflow-Y: scroll;">
            <div class="modal-header">
                <h5><span class="fa fa-trello"></span><b> Voting Results</b></h5>
                <div>
                    <button data-toggle="modal" data-target="#editElectionTitle" class="btn btn-success btn-sm mr-2"><span class="fa fa-flag"></span> Election Title</button>
                    <button data-toggle="modal" data-target="#editAdminKey" class="btn btn-success btn-sm"><span class="fa fa-key"></span> Admin Key</button>
                </div>
            </div>
            <div class="modal-body">
                <h6><span class="fa fa-info-circle"></span> Result may vary depends on on-going election</h6>
                <div class="row">
                    <div class="ml-3 mt-4 col-md-3">
                        <h6><span class="fa fa-flag"></span> President</h6>
                        <p><b>Candidate: </b>{{ this.$store.state.electionresult[0][0] }}.</p>
                        <p><b>Votes: </b>{{ this.$store.state.electionresult[0][1] }}</p>
                    </div>
                    <div class="ml-3 mt-4 col-md-3">
                        <h6><span class="fa fa-flag"></span> Vice-President</h6>
                        <p><b>Candidate: </b>{{ this.$store.state.electionresult[1][0] }}.</p>
                        <p><b>Votes: </b>{{ this.$store.state.electionresult[1][1] }}</p>
                    </div>
                    <div class="ml-3 mt-4 col-md-3">
                        <h6><span class="fa fa-flag"></span> Secretary</h6>
                        <p><b>Candidate: </b>{{ this.$store.state.electionresult[2][0] }}.</p>
                        <p><b>Votes: </b>{{ this.$store.state.electionresult[2][1] }}</p>
                    </div>
                    <div class="ml-3 mt-4 col-md-3">
                        <h6><span class="fa fa-flag"></span> Treasurer</h6>
                        <p><b>Candidate: </b>{{ this.$store.state.electionresult[3][0] }}.</p>
                        <p><b>Votes: </b>{{ this.$store.state.electionresult[3][1] }}</p>
                    </div>
                    <div class="ml-3 mt-4 col-md-3">
                        <h6><span class="fa fa-flag"></span> Auditor</h6>
                        <p><b>Candidate: </b>{{ this.$store.state.electionresult[4][0] }}.</p>
                        <p><b>Votes: </b>{{ this.$store.state.electionresult[4][1] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default{
        name: 'Candidates',
        data() {
            return{
                input: {
                    id: '',
                    lname: '',
                    fname: '',
                    mi: '',
                    position: ''
                },
                key: '',
                inputkey: '',
                newkey: '',
                confirmkey: '',
                electiontitle: '',
            }
        },
        mounted() {
            this.$store.dispatch('fetchAdmin');
            this.$store.dispatch('fetchResult');
            this.electiontitle = this.$store.state.admindata[0].electionname;
        },
        computed: {
            ...mapState(['admindata']),
        },
        methods: {
            validate(){
                if(this.key == ""){
                    this.warningMessage("Please input a valid key");
                }else{
                    if(this.key == this.$store.state.admindata[0].adminkey){
                        this.$store.dispatch('unlockadmin');
                    }else{
                        this.key = "";
                        this.warningMessage("Key is invalid");
                    }
                } 
            },
            lockadmin() {
                this.$store.dispatch('lockadmin');
            },
            saveTitle() {
                if(this.electiontitle == ""){
                    this.warningMessage("Please input election title.");
                }else{
                    this.$store.dispatch('updateTitle', this.electiontitle);
                    this.successMessage("Election title saved.");
                }
            },
            saveKey() {
                if(this.inputkey == ""){
                    this.warningMessage("Please current key.");
                }else{
                    if(this.inputkey != this.$store.state.admindata[0].adminkey){
                        this.warningMessage("Current key is incorrect.");
                    }else{
                        if(this.newkey == "" || this.confirmkey == ""){
                            this.warningMessage("Input fields must not be empty.");
                        }else{
                            if(this.newkey == this.confirmkey){
                                this.$store.dispatch('updateKey', this.newkey);
                                this.successMessage("Admin key updated.")
                            }else{
                                this.warningMessage("New key did not match.");
                            }
                        }
                    }
                }
            },
            editCandidate(data, id){
                this.input.id = id;
                this.input.lname = data.lname;
                this.input.fname = data.fname;
                this.input.mi = data.mi;
                this.input.position = data.position;
            },
            deleteCandidate(data, id){
                this.input.id = id;
                this.input.lname = data.lname;
                this.input.fname = data.fname;
                this.input.mi = data.mi;
                this.input.position = data.position;
            },
            removeCandidate(){
                this.$store.dispatch('deleteCandidate', this.input);
            },
            saveCandidate(){
                if(this.input.fname == ""){
                    this.warningMessage("First name field can't be empty.");
                }
                if(this.input.lname == ""){
                    this.warningMessage("Last name field can't be empty.");
                }
                if(this.input.mi == ""){
                    this.warningMessage("Middle innitial field can't be empty.");
                }
                if(this.input.position == ""){
                    this.warningMessage("Position field can't be empty.");
                }
                this.successMessage("Candidate Registered Successfuly.");
                this.$store.dispatch('editCandidate', this.input);
                this.input.fname = "";
                this.input.lname = "";
                this.input.mi = "";
                this.input.position = "";
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
        }
    };
</script>