<template>
    <div>
        <div class="cfp" style="display: none" id="acover">
            <div class="ic">
                <div class="modal-header mb-3">
                    <h4><span class="fa fa-info"></span><b>  Successfully Done Voting!</b></h4>
                    <button @click="removeCover()" exact class="btn btn-success btn-sm">OK</button>
                </div>
                <div class="modal-body">
                    <h6>Your votes has been submitted. Thank you for voting wisely. Kindly wait for the final Result.</h6>
                </div>
            </div>
        </div>
        <div class="modal-body col-md-8 mt-2 balot-form">
            <div class="modal-body">
                <div class="modal-header">
                    <div>
                        <h6><b>Voting Direction</b></h6>
                        <direction>[1] Please follow the indicated number of candidate to vote.</direction><br>
                        <direction>[2] Incase of page reload, votes will be void.</direction><br>
                        <direction>[3] Don't forget to click "Submit Votes" to submit your votes.</direction><br>
                    </div>
                </div>
                <!--------------------------------------------------------->
                <h6 class="candidate-header cha">ID No (Required)</h6>
                <div class="row mb-3 ml-2">
                    <div class="btn-group col-md-5">
                        <button disabled class="btn btn-dark fa fa-id-card"></button>
                        <input v-model="input.vid" class="form-control" type="text" name="" id="" hin maxlength="8" minlength="7">
                    </div>
                </div>
                <!--------------------------------------------------------->
                <h6 class="candidate-header chb">President ({{ this.president.num }}/1)</h6>
                <div class="row mb-3 ml-2">
                    <div class="col-md-4" v-for="president in presidents" :key="president.id">
                        <div class="btn-group mr-3">
                            <input v-on:click="pres(president.id)" type="radio" name="pres"  class="mt-1 mr-2">
                            <h6>{{ president.lname }}, {{ president.fname }} {{ president.mi }}.</h6>
                        </div>
                    </div>
                </div>
                <!--------------------------------------------------------->
                <h6 class="candidate-header cha">Vice-President ({{ this.vicepresident.num }}/1)</h6>
                <div class="row mb-3 ml-2">
                    <div class="col-md-4" v-for="vice in vices" :key="vice.id">
                        <div class="btn-group mr-3">
                            <input v-on:click="vic(vice.id)" type="radio" name="vice"  class="mt-1 mr-2">
                            <h6>{{ vice.lname }}, {{ vice.fname }} {{ vice.mi }}.</h6>
                        </div>
                    </div>
                </div>
                <!--------------------------------------------------------->
                <h6 class="candidate-header chb">Secretary ({{ this.secretary.num }}/1)</h6>
                <div class="row mb-3 ml-2">
                    <div class="col-md-4" v-for="secretary in secretarys" :key="secretary.id">
                        <div class="btn-group mr-3">
                            <input v-on:click="sec(secretary.id)" type="radio" name="sec"  class="mt-1 mr-2">
                            <h6>{{ secretary.lname }}, {{ secretary.fname }} {{ secretary.mi }}.</h6>
                        </div>
                    </div>
                </div>
                <!--------------------------------------------------------->
                <h6 class="candidate-header cha">Treasurer ({{ this.treasurer.num }}/1)</h6>
                <div class="row mb-3 ml-2">
                    <div class="col-md-4" v-for="treasurer in treasurers" :key="treasurer.id">
                        <div class="btn-group mr-3">
                            <input v-on:click="treas(treasurer.id)" type="radio" name="treas"  class="mt-1 mr-2">
                            <h6>{{ treasurer.lname }}, {{ treasurer.fname }} {{ treasurer.mi }}.</h6>
                        </div>
                    </div>
                </div>
                <!--------------------------------------------------------->
                <h6 class="candidate-header chb">Auditor ({{ this.auditor.num }}/1)</h6>
                <div class="row mb-3 ml-2">
                    <div class="col-md-4" v-for="auditor in auditors" :key="auditor.id">
                        <div class="btn-group mr-3">
                            <input v-on:click="aud(auditor.id)" type="radio" name="aud"  class="mt-1 mr-2">
                            <h6>{{ auditor.lname }}, {{ auditor.fname }} {{ auditor.mi }}.</h6>
                        </div>
                    </div>
                </div>
                <!---------------------------------------------------------
                <h6 class="candidate-header cha">Senator (Voted {{ this.senator.num }} of 12)</h6>
                <div class="row mb-3 ml-2">
                    <div class="col-md-4">
                        <div class="btn-group mr-3">
                            <input v-on:click="sen(1)" type="checkbox"  class="mt-1 mr-2">
                            <h6>Noelen Nogal</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group mr-3">
                            <input v-on:click="sen(2)" type="checkbox"  class="mt-1 mr-2">
                            <h6>Phoebe Besario</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group mr-3">
                            <input v-on:click="sen(3)" type="checkbox"  class="mt-1 mr-2">
                            <h6>Juliena Salceda</h6>
                        </div>
                    </div>
                </div>
                
                <h6 class="candidate-header chb">Congressman ({{ this.congressman.num }}/1)</h6>
                <div class="row mb-3 ml-2">
                    <div class="col-md-4">
                        <div class="btn-group mr-3">
                            <input v-on:click="cong(467)" type="radio"  class="mt-1 mr-2">
                            <h6>Noelen Nogal</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group mr-3">
                            <input type="radio" class="mt-1 mr-2">
                            <h6>Phoebe Besario</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group mr-3">
                            <input type="radio" class="mt-1 mr-2">
                            <h6>Juliena Salceda</h6>
                        </div>
                    </div>
                </div>
                --------------------------------------------------------->
            </div>
            <div class="modal-footer mb-5">
                <button v-on:click="submitBalot()" class="btn btn-success"><span class="fa fa-save"></span> Submit Votes</button>
            </div>
        </div>
        <div class="modal-footer login-footer">
        </div>
    </div>
</template>
<script>
import Vue from 'vue';
import axios from 'axios';
Vue.use( axios);
    import { mapState } from 'vuex';
export default {
    data(){
        return{
            input: {
                vid: '',
                presid: '',
                vpresid: '',
                secid: '',
                treasid: '',
                audid: '',
            },
            president: {
                num: 0,
                ids: "",
            },
            vicepresident: {
                num: 0,
                ids: "",
            },
            secretary: {
                num: 0,
                ids: "",
            },
            treasurer: {
                num: 0,
                ids: "",
            },
            auditor: {
                num: 0,
                ids: "",
            },
            /*senator: {
                num: 0,
            },
            senatorids: [],
            temp: {
                id: 0
            },
            congressman: {
                num: 0,
                ids: "",
            },*/
        }
    },
    mounted() {
        this.$store.dispatch('fetchPresident');
        this.$store.dispatch('fetchVice');
        this.$store.dispatch('fetchSecretary');
        this.$store.dispatch('fetchTreasurer');
        this.$store.dispatch('fetchAuditor');
    },
    computed: {
        ...mapState(['presidents']),
        ...mapState(['vices']),
        ...mapState(['secretarys']),
        ...mapState(['treasurers']),
        ...mapState(['auditors']),
    },
    methods:{
        pres(id){
            this.input.presid = id;
            this.president.num = 0;
            if(this.president.num == 0){
                this.president.num++;
                this.president.ids = id;
            }
            
        },
        vic(id){
            this.input.vpresid = id;
            this.vicepresident.num = 0;
            if(this.vicepresident.num == 0){
                this.vicepresident.num++;
                this.vicepresident.ids = id;
            }
            
        },
        sec(id){
            this.input.secid = id;
            this.secretary.num = 0;
            if(this.secretary.num == 0){
                this.secretary.num++;
                this.secretary.ids = id;
            }
            
        },
        treas(id){
            this.input.treasid = id;
            this.treasurer.num = 0;
            if(this.treasurer.num == 0){
                this.treasurer.num++;
                this.treasurer.ids = id;
            }
            
        },
        aud(id){
            this.input.audid = id;
            this.auditor.num = 0;
            if(this.auditor.num == 0){
                this.auditor.num++;
                this.auditor.ids = id;
            }
            
        },
        submitBalot(){
            if(this.input.vid == ""){
                this.warningMessage("Please input your ID number");
            }else{
                if(this.input.presid == "" || this.input.spresid == "" || this.input.secid == "" || this.input.treasid == "" || this.input.audid == ""){
                    this.warningMessage("Kindly vote for every officer.");
                }
                else{
                    this.$store.dispatch('addVote', this.input);
                    var a = document.getElementById('acover');
                    a.style = "display: ";
                    this.successMessage("Vote Submitted");
                }
            }
        },
        removeCover() {
            window.location.reload();
        },
        /*sen(id){
            var i = 0;
            var rem = false;
            while(this.senatorids[i]){
                if(id == this.senatorids[i].id){
                    this.senatorids.splice(i, 1);
                    rem = true;
                }
                i++;
            }
            if(this.senator.num <= 11){
                if(rem == false){
                    this.senator.num++;
                    this.temp.id = id;
                    this.senatorids.unshift({ ...this.temp });
                    var a = 0;
                    console.log("-------------------------------");
                    while(this.senatorids[a]){
                        console.log(this.senatorids[a].id);
                        a++;
                    }
                }
                else{
                    this.senator.num--;
                    rem == false;
                }
                
            }
            else{
                this.warningMessage("Maximum of only 12 senators");
            }
        },
        cong(id){
            this.congressman.num = 0;
            if(this.congressman.num == 0){
                this.congressman.num++;
                this.congressman.ids = id;
            }
            
        },*/
        successMessage(msg) {
            this.$toast.success(msg, {
                position: "top-right",
                timeout: 3000,
                closeOnClick: true,
                pauseOnFocusLoss: false,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.6,
                showCloseButtonOnHover: false,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false,
            });
        },
        warningMessage(msg) {
            this.$toast.warning(msg, {
                position: "top-right",
                timeout: 3000,
                closeOnClick: true,
                pauseOnFocusLoss: false,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.6,
                showCloseButtonOnHover: false,
                hideProgressBar: true,
                closeButton: "button",
                icon: true,
                rtl: false,
            })
        },
    }
}
</script>